body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 4em;

  background-color: #fefefe;
  color: #171717;

  animation: fadeIn ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

form {
  border: 0;
  outline: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: left;
}

input {
  background: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: inherit;
  box-sizing: inherit;
  border: inherit;
  outline: inherit;

  padding: .25em .5em .25em;
}

::placeholder {
  opacity: .5;
}

button {
  background: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: inherit;
  outline: inherit;

  cursor: pointer;
  padding: .25em .5em .25em;
}

span {
  display: block;
  padding: .25em .5em .25em;

  animation: fadeIn ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.gradient-text {
  /* Fallback color */
  background-color: #ff906b;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-repeat: repeat;
  background-size: 100%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 55em) {
  body {
    font-size: 2em;
  }
  input {
    padding: .5em 1em .5em;
  }
  button {
    padding: .5em 1em .5em;
  }
  span {
    padding: .5em 1em .5em;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
